.userDetail {
    font-weight: 500;
    font-size: 16px;
    margin-top: -3px;
}

.userDetailHeader {
    font-size: 12px;
    margin-top: 10px
}

.userProfilePicture {
    width: 50px;
    height: 50px;
    margin-left: -3px;
    float: left;
    display: block
}

.userProfilePanel {
    height: auto;
    overflow: hidden
}

.userProfileName {
    padding-left: 10px;
    margin-left: 50px;
}
.sourcePanel .formField{
    background-color: #A7B245;
    margin-bottom: 10px;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
    display: block;
}

.destinationPanel .formField{
    background-color: Red;
    margin-bottom: 10px;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
    display: block;
}
.destinationPanel .formField{
    margin-top: 5px;
    color: #ffffff;
    height: 60px;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    display: block;
    background: Red;
}

.destinationPanel .formField .helpText{
    text-decoration: underline;
    font-size: 12px;
}

/*.fieldRow {*/
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -ms-flexbox;*/
    /*display:         flex;*/
/*}*/